html {
  margin: 0.8% 6%;
  scroll-behavior: smooth;
}

body {
  color: #d8d8d8;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("src/background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: auto;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #3a3b3c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  color: gold;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

input[type="text"] {
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 80%;
  background-color: #5e5e5e;
  color: #d8d8d8;
  margin-right: 10px;
  text-align: center;
}

button {
  margin-right: 5;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4e4f50;
  color: gold;
  cursor: pointer;
}

button:hover {
  background-color: #646566;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  color: gold;
  font-size: 18px;
  padding: 10px;
  margin: 10px 0;
  background-color: #5e5e5e;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:hover {
 
  background-color: #646566;
}

li.completed {
  text-decoration: line-through;
  color: #a5a5a5;
}

.completed-btn {

  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #4e4f50;
  color: #d8d8d8;
  cursor: pointer;
}

.completed-btn:hover {
  background-color: #646566;
}

a {
  color: #d8d8d8;
}

.header {
  background: rgba(0, 0, 0, 0.626);
  padding: 11px;
  border-radius: 10px;
  border: none;
}

#subtitle {
  font-size: 10px;
  margin-top: 0;
}

button.rounded {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #4e4f50;
  color: #d8d8d8;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
}

button.rounded:hover {
  background-color: #646566;
}

button.go-to-top {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #4e4f50;
  color: #d8d8d8;
  position: fixed;
  bottom: 80px;
  right: 20px;
  cursor: pointer;
  display: none;
}

button.go-to-top:hover {
  background-color: #646566;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

p {
  color: gold;
}

#clear-btn:hover{
  color: red;
}

#add-btn:hover {
  color: greenyellow;
}

marquee {
  background: rgba(255, 0, 0, 0.5);
  border-radius: 10px;
  border: none;
  font-size: large;
}


marquee > p {
  margin: 0%;
  color: #a5a5a5;
  font-family: 'Times New Roman', Times, serif;
}

center {
  display: block;
  text-align: center;
}

.addclearbtns {
  margin-top: 0;
}

.task-input {
  width: 100%;
}

hr {
  background-color: #3a3b3c;
}
